<h1>Here is the list of tasks</h1>
<% @tasks.each do |task| %>
<p><%= task.name %></p>
<%= link_to "check this task", task_path(task) %>
<% end %>
<br>
<p><%= link_to "Add a task", new_task_path %></p>
